.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px;
}

.form-content {
  display: flex;
  justify-self: start;
  flex-direction: column;
  gap: 12px;

}

@media screen and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px 16px;
  }
}
