.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  min-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.close {
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
}

@media screen and (max-width: 900px) {
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    min-width: 90%;
    max-height: auto;
    overflow-y: auto;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    min-width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
  }
}
